<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <div>
            <a [routerLink]="['/posts', 'add']">Add Post</a>
        </div>
        <table class="table table-striped" *ngIf="posts$ | async as postsData">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsData">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <a href="" class="btn btn-warning" [routerLink]="['edit', post.id]">Update</a> &nbsp;
                        <a class="btn btn-danger" (click)="onDeletePost($event, post.id)">Delete</a> &nbsp;
                        <a href="" class="btn btn-primary" [routerLink]="['details', post.id]">Details</a> 
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a [routerLink]="['']">Go to Home page</a>
        </div>
    </div>
</div>